* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #222438;
  color: white;
}

.navbar {
  background-color: #202335;
  width: 100%;
  line-height: 5.625rem;
  display: flex;
  justify-content: space-between;
  padding: 0 5.625rem;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  margin-right: 1.25rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 80%;
  margin: 0 auto;
}

.banner {
  display: flex;
  flex-direction: column;
  padding: 12.5rem 0;
  font-family: sans-serif;
  gap: 1.25rem;
  height: 60vh;
}

.heading {
  font-size: 3.125rem;
}

.headingP {
  width: 30%;
  color: #aeb0ca49;
}

.bannerbtn {
  padding: 0.625rem 1.875rem;
  background-color: #f54853;
  color: white;
  border: none;
  width: fit-content;
  align-self: flex-start;
}

.Skill-set {
  display: grid;
  font-family: sans-serif;
  gap: 1.25rem;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  align-self: flex-start;
}

.itemlist {
  background-color: #292c3e;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.625rem;
  padding: 1.25rem;
}

.itemlist img {
  width: 6.25rem;
  height: 6.25rem;
}

.Skillss {
  font-family: sans-serif;
  color: #f54853;
}

.underline {
  height: 0.1875rem;
  width: 5rem;
  border-radius: 0.625rem;
  background: #f54853;
}

.connect-with-me {
  margin-top: 9.375rem;
  height: 40vh;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  width: 25rem;
  padding-top: 3.125rem;
}

input[type="email"] {
  padding: 0.9375rem 1.875rem;
  color: #222438;
  border: none;
  background-color: #26283e;
}

input[type="text"] {
  padding: 0.9375rem 1.875rem;
  color: #222438;
  border: none;
  background-color: #26283e;
}

input[type="button"] {
  padding: 0.625rem 1.875rem;
  background-color: #f54853;
  color: white;
  border: none;
  width: fit-content;
  align-self: flex-end;
}
